/*
** BASICS
*/

$base-line-height: 1.5;
$base-font-family: $primary-font-family;
$base-letter-spacing: 1.3px;

/*
** PAGE SIZES
*/

$page-max-size: 1136px;

/*
** USE VARS (decide what settings to use)
*/

$use-spacing-helpers: true;
$use-spacing-helpers-responsive: true;

$use-grid: true;
