$colorPool: (
  blue: (
    500: #0089FF,
    600: #001C4F,
  ),
  grey: (
    100: #FFFFFF,
    300: #F3F9FB,
    400: #E1E4E7,
    700: #171717,
    900: #000000,
  ),
  red: (
    500: #F54E4E,
  ),
);

$colorNames: (
  base: (
    base: map_get(map_get($colorPool, grey), 700),
  ),
  brand: (
    base: map_get(map_get($colorPool, blue), 500),
    dark: map_get(map_get($colorPool, blue), 600),
  )
);

$colors: map_merge($colorPool, $colorNames);
