$font-sizes: (
  lg: (
    xs: (14px, 21px),
    s: (16px, 24px),
    base: (18px, 27px),
    l: (20px, 30px),

    h1: (56px, 70px),
    h2: (40px, 50px),
    h3: (32px, 40px),
    h4: (24px, 30px),
    h5: (20px, 25px)
  ),

  sm: (
    xs: (14px, 21px),
    s: (16px, 24px),
    base: (18px, 27px),
    l: (20px, 30px),

    h1: (56px, 70px),
    h2: (40px, 50px),
    h3: (32px, 40px),
    h4: (24px, 30px),
    h5: (20px, 25px)
  ),

  xs: (
    xs: (14px, 21px),
    s: (16px, 24px),
    base: (18px, 27px),
    l: (20px, 30px),

    h1: (56px, 70px),
    h2: (40px, 50px),
    h3: (32px, 40px),
    h4: (24px, 30px),
    h5: (20px, 25px)
  )
);
